.modal {
    background-color: rgba(0, 0, 0, 0.5);
    position: fixed;
    display: flex;
    flex-direction: column;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    z-index: 30;
    justify-content: space-around;
    align-items: center;
}

.img {
    height: 50%;
}

.description {
    display: block !important;
    z-index: 35;
    margin: auto !important;
    width: 75%;
    min-width: 20rem !important;
    top: 50%;
}

.description div {
    width: 100%;
}

.data {
    width: 75%;
    background-color: white;
    border: 1px solid black;
    border-radius: 0.5rem;
    margin-left: -1px;
    padding: 2rem;
}

.row {
    display: flex;
    justify-content: space-between;
    overflow-wrap: break-word;
}

.bold {
    display: inline-block;
    font-weight: bold;
}

.value {
    display: inline-block;
    text-align: end;
}


@media only screen and (min-width: 992px) {
    .description {
        top: 0;
    }
}