@keyframes navLink {
    from {
        bottom: -2.5rem;
    }    
    to {
        bottom: 2.5rem;
    }
}

.navBottom {
    position: fixed;
    left: 50%;
    margin-left: -7rem;
    width: 14rem;
    z-index: 20;
}

.navBottom button {
    background-color: white;
    width: 100%;
}

.climbing {
    animation: 0.5s 1 normal navLink;
    animation-fill-mode: forwards;
}

.dropping {
    animation: 0.5s 1 reverse navLink;
    animation-fill-mode: forwards;
}

.up {
    bottom: 2.5rem;
}

.down {
    bottom: -2.5rem;
}