.card {
    position: relative;
    transition: all 0.5s;
    background-color: white;
    width: 20%;
    margin: 1rem;
    min-width: 15rem;
    border-radius: 1rem 1rem 0rem 0rem;
    border-bottom: none;
    align-items: center;
}

.data {
    display: none;
    position: absolute;
    top: 100%;
    margin-left: -1px;
    padding: 0.5rem;
    width: calc(100% + 2px);
    border: 1px solid black;
    border-radius: 0rem 0rem 1rem 1rem;
    border-top: none;
    background-color: white;
    z-index: 10;
    transition: all 1s;
}

.image {
    object-fit: cover;
    width: 100%;
    height: 100%;
    border-radius: 1rem;
    aspect-ratio: 16/9;
    transition: all 1s;
}

.card:hover .data {
    display: block;
}

.card:hover .image {
    object-fit: contain;
}

.card:hover .icon {
    display: inline-block !important;
}

.card:hover .star {
    display: inline-block !important;
}

.card:hover {
    margin: 0rem 1rem;
    z-index: 10;
    border: 1px solid black;
}

.row {
    display: flex;
    justify-content: space-between;
    overflow-wrap: break-word;
}

.bold {
    display: inline-block;
    font-weight: bold;
}

.value {
    display: inline-block;
    text-align: end;
}

.controls {
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: end;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    padding: 0.5rem;
    transition: all 1s;
}

.icon {
    display: none !important;
    color: grey;
    font-size: 1rem !important;
    transition: all 1s;
}

.star {
    display: none!important;
    color: orange;
    font-size: 1rem !important;
    transition: all 1s;
}