.card {
    position: relative;
    transition: all 0.5s;
    background-color: white;
    width: 20%;
    margin: 1rem;
    min-width: 15rem;
    border-radius: 1rem 1rem 0rem 0rem;
    border-bottom: none;
    align-items: center;
}

.image {
    object-fit: cover;
    width: 100%;
    height: 100%;
    border-radius: 1rem;
    aspect-ratio: 16/9;
    transition: all 1s;
}

.card:hover .image {
    object-fit: contain;
}

.MuiChip-root {
    font-family: 'Courier New' !important;
    margin-right: 1rem;
}